<div th:fragment="header"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <header class="top-header">
        <div class="header-left">
            <h2>
                <a href="/home">
                    <img src="/images/logo.png" alt="회사 로고" class="sidebar-logo" />
                </a>
            </h2>
        </div>
        <div class="header-right" th:if="${#authentication != null}">
            <span>
                사원번호: <span th:text="${#authentication.principal.username}"></span>,
                이름: <span th:text="${#authentication.principal.empName}"></span>,
            </span>
            <!-- 로그아웃 버튼 -->
            <form th:action="@{/logout}" method="post" style="display:inline">
                <button type="submit">로그아웃</button>
            </form>
        </div>
        <!-- 로그인 상태가 아닌 경우 -->
        <div class="header-right" th:if="${#authentication == null}">
            <a th:href="@{/login}">로그인</a>
        </div>
    </header>
</div>
