<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skuniv.dfocus_project.mapper.AccountMapper">

    <resultMap id="accountResultMap" type="com.skuniv.dfocus_project.domain.account.Account">
        <result column="emp_code" property="empCode"/>
        <result column="password" property="password"/>
        <result column="role" property="role" javaType="com.skuniv.dfocus_project.domain.account.Role"/>
    </resultMap>

    <select id="findByEmpCode" resultMap="accountResultMap">
        SELECT emp_code,
        password,
        role
        FROM WEBACCOUNT
        WHERE emp_code = #{empCode}
    </select>
    <select id="findAll" resultMap="accountResultMap">
        SELECT emp_code,
               password,
               role
        FROM WEBACCOUNT
    </select>
    <update id="updatePassword">
        UPDATE WEBACCOUNT
        SET password = #{password}
        WHERE emp_code = #{empCode}
    </update>
    <update id="updateRole">
        UPDATE webaccount
        SET role = #{role}
        WHERE emp_code = #{empCode}
    </update>

</mapper>
