<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skuniv.dfocus_project.mapper.ApprovalMapper">

    <select id="getDocumentList" resultType="com.example.dto.DocumentDto" parameterType="map">
        SELECT
        a.request_id AS requestId,
        r.emp_code AS reqEmpCode,
        e1.emp_name AS reqEmpName,
        e2.emp_name AS resEmpName,
        e1.dept_code AS department,
        r.attendance_type AS reqDetailType,
        r.req_date AS reqDate,
        a.approval_status AS status   <!-- 상태 추가 -->
        FROM WEBAPPROVALLINE a
        INNER JOIN WEBATTREQUEST r
        ON a.request_id = r.request_id
        LEFT JOIN WEBATTREQUESTSPECIAL s
        ON r.new_shift_code = s.new_shift_code
        INNER JOIN WEBEMPINFO e1
        ON r.emp_code = e1.emp_code
        INNER JOIN WEBEMPINFO e2
        ON a.emp_response = e2.emp_code
        WHERE a.emp_response = #{loginEmp}
        AND r.req_date BETWEEN #{startDate} AND #{endDate}
        AND e1.dept_code = #{department}

        <if test="reqType != null and reqType != ''">
            AND (
            (reqType = 'OT' AND r.attendance_type IN ('연장','조출')) OR
            (reqType = 'HT' AND r.attendance_type = '휴일') OR
            (reqType = 'ET' AND r.attendance_type IN ('기타','연차')) OR
            (reqType = 'LT' AND r.attendance_type IN ('조퇴','외출','반차'))
            )
        </if>

        <if test="reqDetailType != null and reqDetailType != ''">
            AND s.new_shift_code = #{reqDetailType}
        </if>

        ORDER BY a.request_id
    </select>


</mapper>