<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.skuniv.dfocus_project.mapper.ApprovalMapper">

    <select id="getDocumentList"
            resultType="com.skuniv.dfocus_project.dto.approval.DocumentDto"
            parameterType="map">
        SELECT
        a.request_id AS requestId,
        r.emp_code AS reqEmpCode,
        e1.emp_name AS reqEmpName,
        e2.emp_name AS targetEmpName,
        d.dept_name AS department,
        r.attendance_type AS reqDetailType,
        r.request_date AS reqDate,
        a.approval_status AS status
        FROM WEBAPPROVALLINE a
        INNER JOIN WEBATTREQUEST r ON a.request_id = r.request_id
        LEFT JOIN WEBATTREQUESTSPECIAL s ON r.request_id = s.request_id
        INNER JOIN WEBEMPINFO e1 ON a.emp_request = e1.emp_code
        INNER JOIN WEBEMPINFO e2 ON r.emp_code = e2.emp_code
        INNER JOIN WEBDEPTINFO d ON e1.dept_code = d.dept_code
        WHERE a.emp_response = #{LoginEmpCode}
        AND r.request_date BETWEEN #{approvalSearchDto.startDate}
        AND #{approvalSearchDto.endDate}
        AND e1.dept_code = #{approvalSearchDto.department}
        <if test="approvalSearchDto.empCode != null and approvalSearchDto.empCode != ''">
            AND r.emp_code = #{approvalSearchDto.empCode}
        </if>
        <if test="approvalSearchDto.reqType != null and approvalSearchDto.reqType != ''">
            <choose>
                <when test="approvalSearchDto.reqType == 'OT'">
                    AND r.attendance_type IN (N'연장',N'조출')
                </when>

                <when test="approvalSearchDto.reqType == 'HT'">
                    AND r.attendance_type = N'휴일'
                </when>

                <when test="approvalSearchDto.reqType == 'ET'">
                    AND r.attendance_type IN (N'기타',N'연차')
                </when>

                <when test="approvalSearchDto.reqType == 'LT'">
                    AND r.attendance_type IN (N'조퇴',N'외출',N'반차')
                </when>
            </choose>
        </if>


        <if test="approvalSearchDto.reqDetailType != null and approvalSearchDto.reqDetailType != ''">
            AND s.new_shift_code = #{approvalSearchDto.reqDetailType}
        </if>

        ORDER BY a.request_id
    </select>


    <select id="getDetailEmpInfo" resultType="com.skuniv.dfocus_project.dto.approval.EmpInfoDto" parameterType="map">
        SELECT
            r.applicant AS reqEmpCode,
            e.emp_name AS reqEmpName,
            CONVERT(varchar, r.created_at, 23) AS reqDate,  -- yyyy-mm-dd 형식
            s.shift_name AS planType,
            d.dept_name AS department,
            r.emp_code AS targetEmpCode,
            er.emp_name AS targetEmpName
            FROM WEBATTREQUEST r
                 INNER JOIN WEBEMPINFO e
                            ON r.applicant = e.emp_code
                 LEFT JOIN WEBEMPPLAN p
                           ON r.emp_code = p.emp_code
                               AND p.work_date = r.request_date  -- 날짜 조건
                 INNER JOIN WEBEMPINFO er                 -- 결재자 정보 join
                            ON r.emp_code = er.emp_code
                 INNER JOIN WEBDEPTINFO d
                            ON e.dept_code = d.dept_code
                 INNER JOIN WEBSHIFTTYPE s
                            ON p.shift_code = s.shift_code
        WHERE r.request_id = #{requestId}

    </select>

    <select id="getDetailCommuteInfo" resultType="com.skuniv.dfocus_project.dto.approval.CommuteInfoDto">
        SELECT
            work_date AS workDate,
            start_time AS workOnTime,
            end_time AS workOffTime
        FROM WEBCOMMUTERECORD
        WHERE work_date = #{reqDate}
          AND emp_code = #{resEmpCode}
    </select>
    <select id="getReqInfo1" resultType="com.skuniv.dfocus_project.dto.approval.ReqInfoDto">
        SELECT
            wr.request_date      AS startDate,
            wr.req_reason        AS reason,
            wr.req_reason_detail AS reasonDetail,
            wr.attendance_type AS reqType,

            g.start_time         AS startTime,
            g.end_time           AS endTime,
            g.start_next_day     AS startNextDay,
            g.end_next_day       AS endNextDay

        FROM webattrequest wr
                 LEFT JOIN webattrequestgeneral g
                           ON wr.request_id = g.request_id
        WHERE wr.request_id = #{requestId}
    </select>

    <select id="getReqInfo2" resultType="com.skuniv.dfocus_project.dto.approval.ReqInfoDto">
        SELECT
            wr.request_date      AS startDate,
            wr.req_reason        AS reason,
            wr.req_reason_detail AS reasonDetail,
            wr.attendance_type AS reqType,

            g.half_type          AS halfType

        FROM webattrequest wr
                 LEFT JOIN webattrequestgeneral g
                           ON wr.request_id = g.request_id
        WHERE wr.request_id = #{requestId}
    </select>

    <select id="getReqInfo3" resultType="com.skuniv.dfocus_project.dto.approval.ReqInfoDto">
        SELECT
            wr.req_reason        AS reason,
            wr.req_reason_detail AS reasonDetail,
            wr.attendance_type AS reqType,
            s.is_today_request AS isTodayRequest,
            s.start_date AS startDate,
            s.end_date AS endDate,
            s.new_shift_code AS reqDetailType

        FROM webattrequest wr
                 LEFT JOIN webattrequestspecial s
                           ON wr.request_id = s.request_id
        WHERE wr.request_id = #{requestId}
    </select>

    <select id="getApprovalInfo" resultType="com.skuniv.dfocus_project.dto.approval.ApprovalInfoDto">
        SELECT
            wal.sequence_no          AS sequenceNo,
            we.dept_code             AS department,
            we.duty_code             AS duty,
            we.emp_name              AS name,
            wal.emp_response         AS empCode,
            wal.approval_status      AS result,
            wal.approval_time        AS date
        FROM webapprovalline wal
            LEFT JOIN webempinfo we ON wal.emp_response = we.emp_code
        WHERE wal.request_id = #{requestId}
        ORDER BY wal.sequence_no
    </select>
    <select id="isEtcTypeByRequestId" parameterType="string" resultType="boolean">
        SELECT CASE
                   WHEN attendance_type IN (N'기타', N'연차') THEN 1
                   ELSE 0
                   END
        FROM webattrequest
        WHERE request_id = #{requestId}
    </select>
    <update id="updateApprovalLineStatus">
        UPDATE WEBAPPROVALLINE
        SET approval_status = #{status}
        WHERE request_id = #{requestId}
        AND emp_response = #{empCode}
        AND sequence_no = 2;
    </update>
    <update id="updateApprovalLineTime" parameterType="map">
        UPDATE WEBAPPROVALLINE
        SET approval_time = GETDATE()  <!-- SQL Server 기준 현재 시간 -->
        WHERE request_id = #{requestId}
        AND emp_response = #{empCode}
    </update>
    <select id="getAnnualRequestCount" resultType="double" parameterType="long">
        SELECT COUNT(*) * 1.0 AS request_count
        FROM WEBEMPPLAN p
                 JOIN WEBATTREQUEST r
                      ON p.emp_code = r.emp_code
                 JOIN WEBATTREQUESTSPECIAL s
                      ON r.request_id = s.request_id
        WHERE r.request_id = #{requestId}
          AND p.work_date BETWEEN s.start_date AND s.end_date
          AND p.origin_shift_code NOT IN ('12', '13');

    </select>
    <update id="updateAnnualCount" parameterType="map">
        UPDATE WEBANNUALDETAIL
        SET use_day = use_day + #{count}
        WHERE emp_code = (
            SELECT emp_code
            FROM WEBATTREQUEST
            WHERE request_id = #{requestId}
        )
                  AND year = YEAR(GETDATE());
    </update>
    <update id="updateRejectReason" parameterType="map">
        UPDATE webapprovalline
        SET comments = #{reason}
        WHERE sequence_no = 2
          AND request_id = #{requestId}
    </update>
    <select id="getRejectedReason" parameterType="java.lang.Long">
        SELECT comments
        FROM WEBAPPROVALLINE
        WHERE sequence_no = 2
        AND approval_status = 'REJECTED'
        AND request_id = #{requestId}
    </select>
</mapper>