<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skuniv.dfocus_project.mapper.DeptMapper">

    <resultMap id="DeptResultMap" type="com.skuniv.dfocus_project.domain.dept.Dept">
        <result property="deptCode" column="dept_code"/>
        <result property="deptName" column="dept_name"/>
        <result property="parentDept" column="parent_dept"/>
        <result property="deptLeader" column="dept_leader"/>
        <result property="deptCategory" column="dept_category"/>
        <result property="startDate" column="start_date"/>
        <result property="useYn" column="use_yn"/>
        <result property="workPattern" column="work_pattern"/>
    </resultMap>

    <select id="findAll" resultMap="DeptResultMap">
        SELECT
            dept_code,
            dept_name,
            parent_dept,
            dept_leader,
            dept_category,
            start_date,
            use_yn,
            work_pattern
        FROM WEBDEPTINFO
        ORDER BY dept_code
    </select>
    <insert id="insertDept" parameterType="com.skuniv.dfocus_project.domain.dept.Dept">
        INSERT INTO WEBDEPTINFO (
            dept_code,
            dept_name,
            parent_dept,
            dept_category,
            start_date,
            use_yn
        ) VALUES (
                     #{deptCode},
                     #{deptName},
                     #{parentDept},
                     #{deptCategory},
                     #{startDate},
                     #{useYn}
                 )
    </insert>
    <select id="findByDeptCode" parameterType="String" resultMap="DeptResultMap">
        SELECT
            dept_code,
            dept_name,
            parent_dept,
            dept_leader,
            dept_category,
            start_date,
            use_yn,
            work_pattern
        FROM WEBDEPTINFO
        WHERE dept_code = #{deptCode}
    </select>

    <select id="findAllEmpByDeptCode" parameterType="String" resultType="com.skuniv.dfocus_project.dto.EmpDto">
        SELECT
            e.emp_code AS empCode,
            e.emp_name AS empName,
            p.position_name AS positionName,   <!-- position_name으로 변경 -->
            e.dept_code AS deptCode,
            e.work_pattern_code AS workPatternCode,
            e.status AS status
        FROM WEBEMPINFO e
        LEFT JOIN WEBPOSITIONINFO p
        ON e.position_code = p.position_code
        WHERE e.dept_code = #{deptCode}
        ORDER BY p.position_name
    </select>

    <select id="getDeptByEmpCode" parameterType="String" resultType="com.skuniv.dfocus_project.dto.DeptDto">
        SELECT d.dept_code AS deptCode,
               d.dept_name AS deptName
        FROM WEBEMPINFO e
                 JOIN WEBDEPTINFO d ON e.dept_code = d.dept_code
        WHERE e.emp_code = #{empCode}
    </select>
    <update id="updateDeptLeader" parameterType="map">
        UPDATE WEBDEPTINFO
        SET dept_leader = #{emp}
        WHERE dept_code = #{deptCode}
    </update>
    <update id="savePattern">
        UPDATE WEBDEPTINFO
        SET work_pattern = #{patternCode}
        WHERE dept_code = #{deptCode}
    </update>
    <select id="getLeaderByDeptCode" parameterType="string" resultType="string">
        SELECT dept_leader
        FROM WEBDEPTINFO
        WHERE dept_code = #{deptCode}
    </select>
    <update id="updateUseYn">
        UPDATE WEBDEPTINFO
        SET use_yn = #{useYn}
        WHERE dept_code = #{deptCode}
    </update>
    <select id="isExistDept" resultType="boolean">
        SELECT
            CASE
                WHEN EXISTS (
                    SELECT 1
                    FROM webdeptinfo
                    WHERE dept_code = #{deptCode}
                ) THEN TRUE
                ELSE FALSE
                END
    </select>
    <delete id="deleteDept">
        DELETE FROM webdeptinfo
        WHERE dept_code = #{deptCode}
    </delete>
</mapper>
