<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skuniv.dfocus_project.mapper.DeptMapper">
    <select id="findParentDepts" parameterType="string" resultType="string">
        WITH parent_cte AS (
        -- 시작점: 자기 부서
        SELECT dept_code, parent_dept
        FROM webdeptinfo
        WHERE dept_code = #{deptCode}

        UNION ALL

        -- 상위 부서로 재귀
        SELECT w.dept_code, w.parent_dept
        FROM webdeptinfo w
        INNER JOIN parent_cte p ON w.dept_code = p.parent_dept
        WHERE w.parent_dept IS NOT NULL
        )
        SELECT parent_dept
        FROM parent_cte
        WHERE parent_dept IS NOT NULL
        OPTION (MAXRECURSION 0)
    </select>

    <select id="findEmpsBySearch" parameterType="EtcSearchDto" resultType="map">
        SELECT
        i.emp_code,
        i.emp_name,
        i.position_code,
        c.start_time,
        c.end_time
        FROM WEBEMPPLAN p
        JOIN WEBEMPINFO i ON p.emp_code = i.emp_code
        LEFT JOIN WEBCOMMUTERECORD c
        ON c.emp_code = p.emp_code
        AND c.work_date = p.work_date
        WHERE p.work_date = #{workDate}
        AND i.dept_code = #{deptCode}

        <!-- 사번(empCode) 조건 -->
        <if test="empCode != null and empCode != ''">
            AND p.emp_code = #{empCode}
        </if>

        <!-- 근무계획(shiftCode) 조건 -->
        <if test="shiftCode != null and shiftCode != ''">
            AND p.shift_code = #{shiftCode}
        </if>
    </select>
</mapper>