<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skuniv.dfocus_project.mapper.EmpMapper">

    <select id="findByDepartmentId" parameterType="String" resultType="com.skuniv.dfocus_project.domain.emp.Emp">
        SELECT
            emp_code as empCode,
            emp_name as empName,
            social_num as socialNum,
            gender,
            enter_date as enterDate,
            position_code as positionCode,
            position_date as positionDate,
            duty_code as dutyCode,
            duty_date as dutyDate,
            dept_code as deptCode,
            work_pattern_code as workPatternCode,
            status
        FROM WEBEMPINFO
        WHERE dept_code = #{deptCode}
    </select>
    <update id="deleteEmpFromDept" parameterType="map">
        UPDATE WEBEMPINFO
        SET dept_code = NULL
        WHERE emp_code IN
        <foreach collection="empCodes" item="code" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </update>

    <update id="updateDeptCode" parameterType="map">
        UPDATE WEBEMPINFO
        SET dept_code = #{newDeptCode}
        WHERE emp_code IN
        <foreach item="empCode" collection="empCodes" open="(" separator="," close=")">
            #{empCode}
        </foreach>
    </update>
    <select id="findEmpNoDept" parameterType="String" resultType="com.skuniv.dfocus_project.dto.EmpDto">
        SELECT
            e.emp_code AS empCode,
            e.emp_name AS empName,
            p.position_name AS positionName,
            e.dept_code AS deptCode,
            e.work_pattern_code AS workPatternCode
        FROM WEBEMPINFO e
                 LEFT JOIN WEBPOSITIONINFO p
                           ON e.position_code = p.position_code
        WHERE dept_code is null or dept_code = ''
        ORDER BY e.emp_name;
    </select>


    <update id="assignDept" parameterType="map">
        UPDATE WEBEMPINFO
        SET dept_code = #{deptCode}
        WHERE emp_code IN
        <foreach item="empCode" collection="empCodes" open="(" separator="," close=")">
            #{empCode}
        </foreach>
    </update>
    <update id="setPattern" parameterType="map">
        UPDATE WEBEMPINFO
        SET work_pattern_code = #{patternCode}
        WHERE dept_code = #{deptCode}
    </update>
    <select id="selectEmpsByPattern" parameterType="String">
        SELECT
            emp_code
        FROM WEBEMPINFO
        WHERE work_pattern_code = #{patternName}
        ORDER BY emp_code;
    </select>
    <insert id="insertEmpPlan" parameterType="map" >
        INSERT INTO WEBEMPPLAN
        (work_date, emp_code, dept_code, shift_code, origin_shift_code, work_pattern_code, holiday_yn)
        VALUES
            (#{workDate}, #{empCode}, #{deptCode}, #{shiftCode}, NULL, #{patternName}, #{holidayYn});
    </insert>
    <select id="findAttEmpList" resultType="com.skuniv.dfocus_project.dto.AttEmpViewDto">
        SELECT
        P.EMP_CODE       AS empCode,
        I.EMP_NAME       AS name,
        PI.POSITION_NAME AS position,
        D.DEPT_NAME      AS department,
        S.SHIFT_NAME     AS planShiftType,
        CAST(STUFF(S.WORK_ON_TIME, 3, 0, ':') + ':00' AS TIME) AS plannedStartTime,
        CAST(STUFF(S.WORK_OFF_TIME, 3, 0, ':') + ':00' AS TIME) AS plannedEndTime,
        #{attType}       AS attType,
        R.REQUEST_ID     AS requestId,
        R.REQ_REASON     AS reason,
        R.REQ_REASON_DETAIL AS reasonDetail,
        R.REQ_STATUS     AS status,
        R.APPLICANT      AS applicant,
        G.START_NEXT_DAY AS startNextDay,
        G.END_NEXT_DAY AS endNextDay,
        S.WORK_ON_NEXT_DAY AS plannedStartNextDay,
        S.WORK_OFF_NEXT_DAY AS plannedEndNextDay,
        G.START_TIME     AS startTime,
        G.END_TIME       AS endTime,
        G.HALF_TYPE      AS halfType
        FROM WEBEMPPLAN P
        INNER JOIN WEBEMPINFO I ON P.EMP_CODE = I.EMP_CODE
        INNER JOIN WEBDEPTINFO D ON P.DEPT_CODE = D.DEPT_CODE
        INNER JOIN WEBPOSITIONINFO PI ON I.POSITION_CODE = PI.POSITION_CODE
        INNER JOIN WEBSHIFTTYPE S ON P.SHIFT_CODE = S.SHIFT_CODE
        LEFT JOIN WEBATTREQUEST R
        ON R.EMP_CODE = P.EMP_CODE
        AND R.REQUEST_DATE = P.WORK_DATE
        AND R.ATTENDANCE_TYPE = #{attType}
        AND R.REQ_STATUS IN ('SAVED', 'REQUESTED')
        LEFT JOIN WEBATTREQUESTGENERAL G
        ON G.REQUEST_ID = R.REQUEST_ID
        WHERE 1=1
        <choose>
            <when test="attType eq '휴일'">
                AND (P.HOLIDAY_YN = 'Y' AND I.STATUS != 'OFF')
            </when>
            <otherwise>
                AND P.HOLIDAY_YN = 'N'
                AND I.STATUS != 'OFF'
            </otherwise>
        </choose>
        AND P.WORK_DATE = #{workDate}
        <if test="empCode != null and empCode != ''">
            AND P.EMP_CODE = #{empCode}
        </if>
        <if test="deptName != null and deptName != ''">
            AND D.DEPT_NAME = #{deptName}
        </if>
        ORDER BY PI.POSITION_NAME, P.EMP_CODE, I.EMP_NAME
    </select>
</mapper>


