<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skuniv.dfocus_project.mapper.EmpMapper">

    <resultMap id="empResultMap" type="com.skuniv.dfocus_project.domain.emp.Emp">
        <result column="emp_code" property="empCode"/>
        <result column="emp_name" property="empName"/>
        <result column="social_num" property="socialNum"/>
        <result column="gender" property="gender"/>
        <result column="enter_date" property="enterDate"/>
        <result column="position_code" property="positionCode"/>
        <result column="position_date" property="positionDate"/>
        <result column="duty_code" property="dutyCode"/>
        <result column="duty_date" property="dutyDate"/>
        <result column="dept_code" property="deptCode"/>
        <result column="work_pattern_code" property="workPatternCode"/>
        <result column="status" property="status"/>
    </resultMap>

    <select id="findByEmpCode" resultMap="empResultMap">
        SELECT emp_code,
               emp_name,
               social_num,
               gender,
               enter_date,
               position_code,
               position_date,
               duty_code,
               duty_date,
               dept_code,
               work_pattern_code,
               status
        FROM WEBEMPINFO
        WHERE emp_code = #{empCode}
    </select>
    <select id="findByDepartmentId" parameterType="String" resultType="com.skuniv.dfocus_project.domain.emp.Emp">
        SELECT
            emp_code as empCode,
            emp_name as empName,
            social_num as socialNum,
            gender,
            enter_date as enterDate,
            position_code as positionCode,
            position_date as positionDate,
            duty_code as dutyCode,
            duty_date as dutyDate,
            dept_code as deptCode,
            work_pattern_code as workPatternCode,
            status
        FROM WEBEMPINFO
        WHERE dept_code = #{deptCode}
    </select>
    <update id="deleteEmpFromDept" parameterType="map">
        UPDATE WEBEMPINFO
        SET dept_code = NULL
        WHERE emp_code IN
        <foreach collection="empCodes" item="code" open="(" close=")" separator=",">
            #{code}
        </foreach>
    </update>

    <update id="updateDeptCode" parameterType="map">
        UPDATE WEBEMPINFO
        SET dept_code = #{newDeptCode}
        WHERE emp_code IN
        <foreach item="empCode" collection="empCodes" open="(" separator="," close=")">
            #{empCode}
        </foreach>
    </update>
    <select id="findEmpNoDept" parameterType="String" resultType="com.skuniv.dfocus_project.dto.EmpDto">
        SELECT
            e.emp_code AS empCode,
            e.emp_name AS empName,
            p.position_name AS positionName,
            e.dept_code AS deptCode,
            e.work_pattern_code AS workPatternCode
        FROM WEBEMPINFO e
                 LEFT JOIN WEBPOSITIONINFO p
                           ON e.position_code = p.position_code
        WHERE dept_code is null or dept_code = ''
        ORDER BY e.emp_name;
    </select>


    <update id="assignDept" parameterType="map">
        UPDATE WEBEMPINFO
        SET dept_code = #{deptCode}
        WHERE emp_code IN
        <foreach item="empCode" collection="empCodes" open="(" separator="," close=")">
            #{empCode}
        </foreach>
    </update>
    <update id="setPattern" parameterType="map">
        UPDATE WEBEMPINFO
        SET work_pattern_code = #{patternCode}
        WHERE dept_code = #{deptCode}
    </update>
    <select id="selectEmpsByPattern" parameterType="String">
        SELECT
            emp_code
        FROM WEBEMPINFO
        WHERE work_pattern_code = #{patternName}
        ORDER BY emp_code;
    </select>
    <insert id="insertEmpPlan" parameterType="map" >
        INSERT INTO WEBEMPPLAN
        (work_date, emp_code, dept_code, shift_code, origin_shift_code, work_pattern_code, holiday_yn)
        VALUES
            (#{workDate}, #{empCode}, #{deptCode}, #{shiftCode}, NULL, #{patternName}, #{holidayYn});
    </insert>
    <update id="updateEmpPlan" parameterType="map">
        UPDATE WEBEMPPLAN
        SET dept_code = #{deptCode},
            shift_code = #{shiftCode},
            work_pattern_code = #{patternName},
            holiday_yn = #{holidayYn}
        WHERE work_date = #{workDate}
          AND emp_code = #{empCode}
    </update>

    <!-- 존재 여부 확인 -->
    <select id="existsEmpPlan" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
        FROM WEBEMPPLAN
        WHERE work_date = #{workDate}
          AND emp_code = #{empCode}
    </select>
    <select id="findAttEmpList" resultType="com.skuniv.dfocus_project.dto.AttEmpViewDto">
        SELECT
        P.EMP_CODE       AS empCode,
        I.EMP_NAME       AS name,
        PI.POSITION_NAME AS position,
        D.DEPT_NAME      AS department,
        S.SHIFT_NAME     AS planShiftType,
        CAST(STUFF(S.WORK_ON_TIME, 3, 0, ':') + ':00' AS TIME) AS plannedStartTime,
        CAST(STUFF(S.WORK_OFF_TIME, 3, 0, ':') + ':00' AS TIME) AS plannedEndTime,
        #{attType}       AS attType,
        R.REQUEST_ID     AS requestId,
        R.REQ_REASON     AS reason,
        R.REQ_REASON_DETAIL AS reasonDetail,
        R.REQ_STATUS     AS status,
        R.APPLICANT      AS applicant,
        G.START_NEXT_DAY AS startNextDay,
        G.END_NEXT_DAY AS endNextDay,
        S.WORK_ON_NEXT_DAY AS plannedStartNextDay,
        S.WORK_OFF_NEXT_DAY AS plannedEndNextDay,
        G.START_TIME     AS startTime,
        G.END_TIME       AS endTime,
        G.HALF_TYPE      AS halfType
        FROM WEBEMPPLAN P
        INNER JOIN WEBEMPINFO I ON P.EMP_CODE = I.EMP_CODE
        INNER JOIN WEBDEPTINFO D ON P.DEPT_CODE = D.DEPT_CODE
        INNER JOIN WEBPOSITIONINFO PI ON I.POSITION_CODE = PI.POSITION_CODE
        INNER JOIN WEBSHIFTTYPE S ON P.SHIFT_CODE = S.SHIFT_CODE
        LEFT JOIN WEBATTREQUEST R
        ON R.EMP_CODE = P.EMP_CODE
        AND R.REQUEST_DATE = P.WORK_DATE
        AND R.ATTENDANCE_TYPE = #{attType}
        AND R.REQ_STATUS IN ('SAVED', 'REQUESTED', 'APPROVED')
        LEFT JOIN WEBATTREQUESTGENERAL G
        ON G.REQUEST_ID = R.REQUEST_ID
        WHERE 1=1
        AND I.STATUS != 'OFF'
        AND P.SHIFT_CODE NOT IN ('64', '65')
        AND P.WORK_DATE = #{workDate}
        <if test="empCode != null and empCode != ''">
            AND P.EMP_CODE = #{empCode}
        </if>
        <if test="deptName != null and deptName != ''">
            AND D.DEPT_NAME = #{deptName}
        </if>
        ORDER BY PI.POSITION_NAME, P.EMP_CODE, I.EMP_NAME
    </select>
    <select id="findEtcAttEmpList" resultType="com.skuniv.dfocus_project.dto.AttEmpViewDto">
        SELECT
        P.EMP_CODE       AS empCode,
        I.EMP_NAME       AS name,
        PI.POSITION_NAME AS position,
        D.DEPT_NAME      AS department,
        S.SHIFT_NAME     AS planType,
        P.WORK_DATE      AS startDate,
        A.BALANCE_DAY    AS balanceDay,
        RS.NEW_SHIFT_CODE AS newShiftType,
        RS.END_DATE       AS endDate,
        R.REQ_REASON AS reason,
        RS.IS_TODAY_REQUEST AS isTodayRequest,
        R.REQ_STATUS        AS status,
        R.APPLICANT         AS applicant,
        R.REQUEST_ID        AS requestId
        FROM WEBEMPPLAN P
        INNER JOIN WEBANNUALDETAIL A ON P.EMP_CODE = A.EMP_CODE
        INNER JOIN WEBEMPINFO I ON P.EMP_CODE = I.EMP_CODE
        INNER JOIN WEBDEPTINFO D ON P.DEPT_CODE = D.DEPT_CODE
        INNER JOIN WEBPOSITIONINFO PI ON I.POSITION_CODE = PI.POSITION_CODE
        INNER JOIN WEBSHIFTTYPE S ON P.SHIFT_CODE = S.SHIFT_CODE
        LEFT JOIN WEBATTREQUEST R
        ON R.EMP_CODE = P.EMP_CODE
        AND R.REQUEST_DATE = P.WORK_DATE
        AND R.ATTENDANCE_TYPE = '기타'
        AND R.REQ_STATUS IN ('SAVED', 'REQUESTED', 'APPROVED')
        LEFT JOIN WEBATTREQUESTSPECIAL RS
        ON RS.REQUEST_ID = R.REQUEST_ID
        WHERE P.WORK_DATE = #{workDate}
        AND D.DEPT_NAME = #{deptName}
        AND I.STATUS != 'OFF'
        AND P.SHIFT_CODE NOT IN ('64', '65')
        AND P.HOLIDAY_YN = 'N'
        <if test="searchEmpCode != null and searchEmpCode != ''">
            AND P.EMP_CODE = #{searchEmpCode}
        </if>
        <if test="planType != null and planType != ''">
            AND P.shift_code = #{planType}
        </if>
        ORDER BY PI.POSITION_NAME, P.EMP_CODE, I.EMP_NAME
    </select>

</mapper>


