<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skuniv.dfocus_project.mapper.MyHistoryMapper">
    <select id="findMyAttRequestList" resultType="com.skuniv.dfocus_project.dto.history.historyListDto">
    SELECT
    war.request_id AS requestId,
    -- 신청일
    war.created_at AS requestDate,

    -- 대상자(emp_code)
    war.emp_code AS targetEmpCode,

    -- startDate (무조건 req_date)
    war.request_date AS startDate,
    war.req_status AS status,
    wei.dept_code AS department,

    -- endDate (연차/기타만 special의 end_date)
    CASE
    WHEN war.attendance_type IN ('연차', '기타')
    THEN was.end_date
    ELSE war.request_date
    END AS endDate,

    -- 신청 근태: 연차/기타일때만 new_shift_code
    CASE
    WHEN war.attendance_type IN ('연차', '기타')
    THEN was.new_shift_code
    ELSE war.attendance_type
    END AS reqAttType

    FROM webattrequest war
    LEFT JOIN webattrequestgeneral wag ON war.request_id = wag.request_id
    LEFT JOIN webattrequestspecial was ON war.request_id = was.request_id
    LEFT JOIN webempinfo wei ON war.emp_code = wei.emp_code
    WHERE war.emp_code = #{loginEmpCode}
    </select>
</mapper>